/* Navigation Menu */
.navigationMenu {
  position: fixed;
  top: 120px;
  width: 100%;
  height: 7rem;
  background-color: rgb(22, 22, 22);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  z-index: 10;
}

.bg-dark {
  background-color: transparent !important;
}

.dropdown {
  margin: 0 auto;
  position: relative;
  display: inline-block;
  text-align: center;
}

.dropdownLink:hover {
  background-color: rgb(60, 60, 60);
}

.dropdownButton {
  background-color: transparent;
  border: none;
  padding: 0 40px;
  font-size: 1.8rem;
  cursor: pointer;
  text-align: center;
  color: rgb(7, 193, 255);
}

.dropdownButton.level-1 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: #1e90ff;
  font-size: 1.8rem;
  text-align: center;
  width: 11rem;
}

.dropdownButton.level-2 {
  padding-bottom: 3px;
  font-size: 1.4rem;
  color: rgb(218, 165, 32);
}

.dropdownButton.level-3 {
  padding-bottom: 2px;
  font-size: 1.5rem;
  color: rgb(0, 255, 127);
}

.dropdownButton.level-4 {
  color: rgb(240, 128, 128);
  font-size: 1.2rem;
  text-decoration: none;
  display: block;
}

.dropdownContent {
  position: absolute;
  left: 82px;
  background-color: rgb(38, 38, 39);
  min-width: 18rem;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.dropdownContent.active {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  width: 17rem;
  max-height: 31.2rem;
  margin-top: 2rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgb(60, 60, 60) rgb(73, 73, 73);
}

.dropdownContent.active::-webkit-scrollbar {
  width: 6px;
}

.dropdownContent.active::-webkit-scrollbar-thumb {
  background: rgb(60, 60, 60);
  border-radius: 5px; 
}

.dropdownContent.active::-webkit-scrollbar-thumb:hover {
  background: rgb(60, 60, 60);
}

.dropdownContent.active::-webkit-scrollbar-track {
  background: transparent;
}

.dropdownContent.active::-webkit-scrollbar-button {
  display: none;
}

.dropdownMenu.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 390px) {
  .navigationMenu {
    display: flex;
    position: absolute;
    height: 1rem;
    padding: 0;
    z-index: 17;
    margin-top: 1.7rem;
  }
  .container-fluid {
    padding: 0;
    width: 95%;
  }
  .navbar-toggler.collapsed {
    margin-top:5rem;
  }
  .navbar-collapse.show {
    margin-top: -6.4rem;
    border-radius: 10px;
    background-color: rgb(60, 60, 60);
    padding-bottom: 1rem;
  }
  .me-auto {
    margin-top: 30rem;
  }
  .dropdownContent.active {
    background-color: transparent !important;
    box-shadow: unset !important;
    border: unset !important;
  }
}
