.pageBreakAvoid {
    page-break-inside: avoid;
    margin: 5px 0;
}

/* Adjust spacing for lists */
.pdfList {
    page-break-inside: avoid; /* Prevent splitting of entire lists */
}

.pdfList li {
    page-break-inside: avoid; /* Prevent splitting of individual list items */
}

/* Adjust content alignment and prevent overflow */
.pdfMarkdownContent {
    overflow-wrap: break-word;
    word-break: break-word;
}

.pdfCodeBlockWrapper {
    page-break-inside: avoid; /* Prevent splitting of code blocks */
}
/* Temporary hiding for export */
.hideForExport {
    display: none;
}
